<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDisplayName</key>
		<string>Thymio 2 Device Manager</string>
		<key>CFBundleExecutable</key>
		<string>thymio-2-device-manager</string>
		<key>CFBundleIdentifier</key>
		<string>org.mobsya.thymio-2-device-manager</string>
		<key>CFBundleName</key>
		<string>Thymio 2 Device Manager</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>LSMinimumSystemVersion</key>
		<string>11.0</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright 2026, Mobsya and École Polytechnique Fédérale de Lausanne (EPFL).</string>
		<key>CFBundleIconFile</key>
		<string>AppIcon</string>
		<key>LSUIElement</key>
		<true/>
	</dict>
</plist>
